
body {
    font-family: Didot, serif;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    color: #333;
}

video {
    margin-top: 20px;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #f0f0f0;
}

.hero h1 {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.link-grande {
    font-size: 20px;
    color: #ffffff;
}

